/*Zero Styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}


.bigred{
	font-size: 20px;
	color: red;
}

/*End of Zeroing Styles*/

.wraper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

/*@media (max-width: 1200px) {
	.wraper {
		max-width: 970px:
	}
}*/

/* NAVIGATION PANNEL */

.upperPannel {
  display: flex;
  flex-direction: row;
  color: black;
  font-family: 'Roboto' serif;
  font-size: 1.2rem;
  justify-content: space-between;
  margin-left: 10px;
  padding-top: 10px ;
  line-height: 2.5rem;
}

.upperNavigation {
  text-align: left;
  width: 50%;
}

.link {
  display: inline-flex;
  vertical-align: top;
  text-decoration: none;
  color: black;
  letter-spacing: 0.3em;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
}

.link span {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.underline::after {
  width: 0%;
  height: 2px;
  display: inline-block;
  background-color: rgba(157, 207, 243);
  content: " ";
  position: absolute;
  top: 34px;
  left: 50%;
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.underline:hover::after {
  width: 100%;
  height: 2px;
  display: inline;
  background-color: rgba(157, 207, 243);
  content: " ";
  position: absolute;
  top: 34px;
  left: 0;
}


/* SOCIAL LINKS */
.social {
  font-size: 1.2rem;
  margin-right: 10px;
  text-align: right;
  width: 50%;
}

i {
  color: gray;
  font-size: 1.2rem;
  padding-left: 150px;
  padding-right: 0;
  margin-right: 0;
}

ii { 
  color: gray;
  font-size: 1.1rem;
  padding-left: 15px;
  padding-right: 0;
  margin-right: 0;
}

iii {
  color: gray;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 0;
}

.header {
  max-width: 1200px;
  height: 250px;
  margin: 0 10px 0 10px;
  padding-bottom: 0;
}

.headerPic {
  padding: 10px 0;
  max-width: 100%;
}

.leftPannel {
  background-color: #f2fefe;
  font-family: 'Roboto' serif;
  font-size: 20px;
  display: inline-block;
  line-height: 1.4rem;
  margin-top: 20px;
  margin-left: 10px;
  width: 15%;
  height: 500px;
  padding: 10px 10px 10px 5px;
}

.leftPannel a {
  color: black;
  display: block;
  text-decoration: none;
  text-align: left;
  padding: 0 5px 0 5px;
}

.leftPannel a:hover {
  background-color: rgba(157, 207, 243);
}

.bienvenue {
  font-family: 'Roboto' serif;
  font-size: 1.25rem;
  display: inline-block;
  vertical-align: top;
  line-height: 1.3rem;
  margin: 20px 0 0 20px;
  max-width: 80%;
}

.bienvenuePic { 
  float: left;
  margin-right: 30px;
  max-width: 100%;
}

.glass {
  color: rgba(157, 207, 243);
  font-weight: bold; 
 }

h2 {
  font-weight: normal;
}

/* Cards */

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 30px;
}

.card {
  margin: 10px;
  text-align: center;
  max-width: 25%;
  position: relative;
  max-height: 300px;
  aspect-ratio: 16 / 16;
}

/***** Efects *****/

.card-with-hover {
  position: relative;
  overflow: hidden;
  text-align: center;
  max-height: 300px;

}

.card-with-hover > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.35s;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  aspect-ratio: 16 / 16;
}

.card-with-hover:hover > img {
  transform: scale(1.15) translate3d(0, -20px, 0);
  object-fit: cover;
}

.card-with-hover > .card-caption {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: left;
  background-color: rgba(157, 207, 243, .8);
  transition: all 0.3s;
  transform: translate3d(0, 100%, 0);
  will-change: transform;
}

.card-with-hover > .card-caption > .card-caption-content {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  transition: all 0.3s;
  text-align: left;
  transform: translate3d(0);
  will-change: transform;
}

.card-with-hover > .card-caption h2 {
  display: block;
  color: #fff;
  margin: 0;
  padding: 1.5rem;
  transition: all 0.3s;
  background-color: rgba(157, 207, 243);

  transform: translate3d(0, -100%, 0);
  will-change: transform;
}

.card-with-hover > .card-caption p {
  padding: 0 1rem;
  margin: 0;
  color: #fff;
  opacity: 0;
  transition: opacity 0.35s 0.1s;
  transform: translate3d(0);
  will-change: transform;
}

.card-with-hover:hover > .card-caption {
  transform: translateY(0);
}

.card-with-hover:hover > .card-caption > .card-caption-content {
  top: 50%;
  transform: translate(0, -50%);
}

.card-with-hover:hover > .card-caption h2 {
  background-color: rgba(255, 255, 255, 0);
  transform: translateY(0%);
}

.card-with-hover:hover > .card-caption p {
  opacity: 1;
}

/* Video */

.items {
  background-color: #282828;
  margin: 30px 10px 0 10px;
}

.items__container {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
}
.items__body {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.item__video {
	position: relative;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 56% 0px;
}
.item__video video,
.item__video iframe {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.item__text {
  color: white;
	font-size: 1.2rem;
  line-height: 2rem;
}

/* MAP */

iframe {
  display: inline-block;
  margin: 20px 0 0 10px;
  width: 73.3%;
  aspect-ratio: 16 / 9;
}

.mapText {
  font-size: 1.2rem;
  line-height: 1.3rem;
  vertical-align: top;
  text-align: left;
  display: inline-block;
	width: 21.7%;
	padding: 0px 0px;
	margin: 20px 0 0 15px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  margin: 25px 10px 0 10px;
  width: 100%;               
  background-color:rgba(157, 207, 243);
  height: 5px;
}

footer {
  /*background-color: #f2fefe;*/
  max-width: 100%;
  height: 150px;
  margin: 20px 10px 0 10px;
}

.contact {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3rem;
  padding: 15px 0 0 30px;
  max-width: 100%;
}

.linkTel {
  color: black;
  text-decoration: none;
}

.linkMail {
  color: black;
  text-decoration: none;
}